<div class='container d-flex flex-column align-items-center'>
  <div class="brandfont mt-5">
    <h1>Edita tu Usuario</h1>
  </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "formulario" }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :first_name, class: "form-control", placeholder: "Escribe tu nombre", label: false %>
          <%= f.input :last_name, placeholder: "Escribe tu apellido", label: false %>
          <%= f.input :phone_number, placeholder: "Telefono celular", label: false %>
          <%= f.input :date_of_birth, as: :date, html5: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    placeholder: "Escribe tu contraseña", label: false %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    placeholder: t(:update_password), label: false %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :photo, as: :file %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "Btn btn-primary col-12 rounded-pill" %>
      </div>
    <% end %>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
