<div class='container'>
  <h1>Edita tu solicitud</h1>
  <p>Completa el siguiente formulario.</p>
  <%= simple_form_for [@car, @app] do |f| %>
    <%= f.input :price %>
    <%= f.input :pickup_point %>
    <%= f.input :drop_point %>
    <%= f.input :pickup_datetime %>

    <%= f.submit %>
  <% end %>
</div>
