<div class='container d-flex flex-column align-items-center'>
  <div class= "brandfont mt-5">
    <h1>Edita tu solicitud</h1>
  </div>
    <p>Completa el siguiente formulario.</p>
    <div class="formulario mb-5">
      <%= simple_form_for [@car, @app] do |f| %>
        <%= f.input :price %>
        <%= f.input :pickup_point %>
        <%= f.input :drop_point %>
        <%= f.input :pickup_datetime %>

        <%= f.submit %>
      <% end %>
    </div>
</div>
