<div class="container">
<% @misbook.each do |book| %>
   <div class= 'container'>
  <div class="card-product my-4">
    <div>
      </div>
      <div class="card-product-infos">
        <p>Pickup point: <%= book.application.pickup_point %></p>
        <p>Drop point: <%= book.application.drop_point %>
        <p>Dia y hora de recogida: <%= book.application.pickup_datetime %></p>
        <p>Precio: <%= book.application.price %></p>
        <p>Status: <%= book.status %></p>

      </div>
      <div>
        <%= link_to "Editar Solicitud de viaje",    edit_booking_path(book), class: "btn btn-gradient" %>
        <p></p>
        <%= button_to "Eliminar Solicitud", book, method: :delete, class: "btn btn-gradient" %>
         <p></p>
         <% if book.status == "Pendiente" %>
          <%= button_to "Completar mi viaje",  updatecomplete_path(book), method: :patch,  class: "btn btn-gradient"  %>
         <% end %>
         <% if book.status == "Completado" %>
           <%= link_to "Dejar mi reseña",  new_booking_review_path(book), class: "btn btn-gradient"  %>
         <% end %>

      </div>
    </div>
  </div>
</div>
<% end %>
</div>
