<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(&quot;//images.hertz.com/content/Intl/1920x900_Hero_Banner/hero_summer_eucorp.jpg&quot;);">
  <div class="container">
    <h1>RENT A CAR <strong>alquilá</strong> al <strong>mejor precio</strong>!</h1>
    <p>Donde quieras y cuando quieras, tene un auto a tu alcance.</p>
    <%= link_to "Alquilar", cars_path, class: "btn btn-primary" %>
    <%= link_to "Subir tu auto", new_car_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
 <div class="row">
    <% @cars.each do |car| %>
      <div class="col-md-4 col-sm-12">
        <%= link_to car_path(car) do %>
        <div class="card my-4">
          <div class="card-category1" style="background-image: url(<%= url_for(car.photos.first) %>);">
            <div class="mt-5 pt-5 text-center">
              <%= car.model %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
     <%# <%= image_tag car.photos.first %>
    <% end %>
 </div>
</div>
