<div class='container d-flex flex-column align-items-center'>
  <div class= "brandfont mt-5">
    <h1><strong>Inicia sesion</strong></h1>
  </div>
    <p> Para empezar, inicia sesion</p>
  <div class="formulario mb-5">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Inicia sesion", class: "Btn btn-primary form-control rounded-pill"%>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
