<div class='container'>
  <h1> Edita la informacion de tu auto </h1>
  <p> Edita el campo que necesites.</p>
  <%= simple_form_for(@car) do |f| %>
    <%= f.input :model %>
    <%= f.input :brand %>
    <%= f.input :plate %>
    <%= f.input :color %>
    <%= f.input :transmission %>
    <%= f.input :insurance_other_drivers %>

    <%= f.submit %>
  <% end %>
</div>
