 <% if @misautos.size > 0 %>
  <div class="container mt-3">
    <div class= "brandfont align-center mt-3">
      <h1> Mis autos:</h1>
      <h2> Elegi un auto, para realizar el viaje.</h2>
        <% @misautos.each do |car| %>
            <div class="card-product-infos">
                <div class="card mt-5">
                  <h2>· Model: <%= car.model %></h2>
                  <h2>· Brand: <%= car.brand %>
                  <h2>· Color: <%= car.color %></h2>
                  <h2>· Transmission: <%= car.transmission %></h2>
                  <h2>· Seguro para terceros: <%= car.insurance_other_drivers %></h2>
                  <div class="d-flex justify-content-end w-100 align-items mb-4 h-100 align-items-end">
                    <div class="me-4">
                      <%= link_to "Seleccionar",   new_car_application_path(car), class: "btn btn-primary" %>
                    </div>
                  </div>
                </div>
             </div>
        <% end %>
      </div>
    </div>
 <% else %>
  <%= link_to "Subir mi auto", new_car_path, class: "btn btn-primary" %>
<% end %>
