
<div class="container mt-3 d-flex align-items-center">
  <div class= "brandfont align-center mt-3">
    <h1> Vehiculos </h1>
  </div>
    <% @misautos.each do |car| %>
      <div class= 'container'>
        <div class="card-product my-4 ">

          <div class="card-product-infos">
            <h2>Model: <%= car.model %></h2>
            <p>Brand: <%= car.brand %>
            <p>Color: <%= car.color %></p>
            <p>Transmission: <%= car.transmission %></p>
            <p>Seguro para terceros: <%= car.insurance_other_drivers %></p>
          </div>
            <div class= "row md-11">
              <%= link_to "Editar Auto",  edit_car_path(car), class: "btn btn-primary" %>
              <%= button_to "Eliminar Auto", car, method: :delete, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
