<div class="container mt-3">
  <div class= "brandfont align-center mt-3">
    <h1> Vehiculos </h1>
    <% @misautos.each do |car| %>
        <div class= 'container'>
        <div class="card-product my-4 ">
          <div>
            </div>
            <div class="card-product-infos">
              <p>· Model: <%= car.model %></p>
              <p>· Brand: <%= car.brand %>
              <p>· Color: <%= car.color %></p>
              <p>· Transmission: <%= car.transmission %></p>
              <p>· Seguro para terceros: <%= car.insurance_other_drivers %></p>
              <div class="d-flex justify-content-end w-100 align-items mb-4 h-100 align-items-end">
                <div class= "me-4">
                  <%= link_to "Editar",  edit_car_path(car), class: "btn btn-primary" %>
                  <%= button_to "Eliminar", car, method: :delete, class: "btn btn-primary" %>
                </div>
             </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
