<div class='container d-flex flex-column align-items-center'>
  <div class= "brandfont mt-5">
    <h1><strong>Good Buddy</strong></h1>
  </div>
  <p> Para empezar, registra tu vehiculo </p>
  <div class="formulario mb-5">
    <%= simple_form_for(@car) do |f| %>
      <%= f.input :model, placeholder: "model", label: false%>
      <%= f.input :brand, placeholder: "brand", label: false%>
      <%= f.input :plate, placeholder: "plate", label: false%>
      <%= f.input :color, placeholder: "color", label: false%>
      <%= f.input :transmission, placeholder: "transmission", label: false%>
      <%= f.input :photo, as: :file %>
      <%= f.input :insurance_other_drivers %>
      <%= f.submit class: "btn btn-primary form-control"%>
    <% end %>
  </div>
</div>
