<div class='container d-flex flex-column align-items-center'>
  <div class= "brandfont mt-5">
      <h1><strong>Good Buddy</strong></h1>
    </div>
    <p> Para empezar, registra tu vehiculo </p>
    <div class="formulario mb-5">
      <%= simple_form_for(@car) do |f| %>
        <%= f.input :model, placeholder: "Modelo", label: false%>
        <%= f.input :brand, placeholder: "Marca", label: false%>
        <%= f.input :plate, placeholder: "Patente", label: false%>
        <%= f.input :color, placeholder: "Color", label: false%>
        <%= f.input :transmission, placeholder: "transmisión", label: false%>
        <%= f.input :photo, as: :file %>
        <%= f.input :insurance_other_drivers %>
        <%= f.submit class: "btn btn-primary form-control rounded-pill"%>
      <% end %>
  </div>
</div>
